apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: jobintel-data-pvc
  namespace: jobintel
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 10Gi
  storageClassName: local-path
