apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - namespace.yaml
  - serviceaccount.yaml
  - role.yaml
  - rolebinding.yaml
  - configmap.yaml
  - secret.example.yaml
  - pvc-data.yaml
  - pvc-state.yaml
  - cronjob.yaml
  - job.once.yaml
