apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: jobintel-state-pvc
  namespace: jobintel
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 20Gi
  storageClassName: local-path
